@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href=@routes.Assets.at("stylesheets/main.css")>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<!-- Library CSS -->
		<link rel="stylesheet" href=@routes.Assets.at("css/bootstrap.css")>
		<link rel="stylesheet" href=@routes.Assets.at("css/bootstrap-theme.css")>
		<link rel="stylesheet" href=@routes.Assets.at("css/bootstrap.min.css") rel="stylesheet">
		<link rel="stylesheet" href=@routes.Assets.at("css/fonts/font-awesome/css/font-awesome.css")>
		<!-- Responsive CSS -->
		<link rel="stylesheet" href=@routes.Assets.at("css/theme-responsive.css")>
		<link rel="stylesheet" href=@routes.Assets.at("css/vcenter.css") media="all" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href=@routes.Assets.at("css/fileinput.css") media="all" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href=@routes.Assets.at("css/fileinput.min.css") media="all" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="@routes.Application.jsRoutes()"></script>
		<script src=@routes.Assets.at("js/jquery.min.js")></script>
		<script src=@routes.Assets.at("js/fileinput.min.js") type="text/javascript"></script>
        <script src=@routes.Assets.at("js/fileinput_locale_ru.js") type="text/javascript"></script>
        <script src=@routes.Assets.at("js/fileinput_locale_LANG.js") type="text/javascript"></script>
        <script src=@routes.Assets.at("js/bootstrap.min.js") type="text/javascript"></script>
		
    </head>
    <body>
        @content
    </body>
</html>
